{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dynamic Preventative Maintenance</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/DPM_LOGO.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="{% static 'styles.css' %}">-->

    <body>
        <app-root></app-root>
<!--        <script type="text/javascript" src="{% static 'main.js'%}"></script>-->
<!--        <script type="text/javascript" src="{% static 'polyfills.js'%}"></script>-->
<!--        <script type="text/javascript" src="{% static 'runtime.js'%}"></script>-->
<!--        <script type="text/javascript" src="{% static '4.js'%}"></script>-->
                <script type="text/javascript" src="{% static 'app-MainApp-main-app-module.js'%}"></script>
                <script type="text/javascript" src="{% static 'app-MainApp-main-app-module.js.map'%}"></script>
                <script type="text/javascript" src="{% static 'main.js'%}"></script>
                <script type="text/javascript" src="{% static 'main.js.map'%}"></script>
                <script type="text/javascript" src="{% static 'polyfills.js'%}"></script>
                <script type="text/javascript" src="{% static 'polyfills.js.map'%}"></script>
                <script type="text/javascript" src="{% static 'runtime.js'%}"></script>
                <script type="text/javascript" src="{% static 'runtime.js.map'%}"></script>
                <script type="text/javascript" src="{% static 'styles.js'%}"></script>
                <script type="text/javascript" src="{% static 'styles.js.map'%}"></script>
                <script type="text/javascript" src="{% static 'vendor.js'%}"></script>
                <script type="text/javascript" src="{% static 'vendor.js.map'%}"></script>


    </body>

</html>
